.page{
	text-align: center;
	font-family: 'Bauhaus 93';
	font-size: 30px;
}

.home{
	font-family: 'Bauhaus 93';
	text-align: center;
	font-size: 50px;
}
.task {
	position: relative;
    height: 100vh;
    font-family: 'Bauhaus 93';
	text-align: center;
}

.about {
	text-align: center;
	font-family: 'Bauhaus 93';
}
.date{
	border-radius: 6px;
	position: center;
}
.completed-task {
	text-decoration: line-through;
	text-decoration-thickness: 3px;
  }
.taskitem {
	position: center;
	border: 1px solid black;
	border-radius: 6px;
	height: 50px;
	width: 1165px;
	background: transparent;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
  }

input {
	background: transparent;
	border-radius: 6 px;
	height: 29px;
	border: 1px solid black;

}
.addnewtodo{
	border-radius: 6px;
}
button {
    margin: 0 10px;
    color: black;
    border: 1px solid black;
    background: transparent;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
	transition: .5s;
  }
  button:hover{
	background: black;
	color: #e6e7d5;
  }

  .wrapper span {
	position: fixed;
	bottom: -180px;
	border-radius: 100px;
	height: 50px;
	width: 50px;
	z-index: -1;
	background-color: #e6e7d5;
	box-shadow: 0 0 50px #e6e7d5, 0 0 100px #e6e7d5, 0 0 150px #e6e7d5, 0 0 200px #e6e7d5;
	animation: animate 10s linear infinite;
}
.wrapper span:nth-child(1) {
	left: 60px;
	animation-delay: 0.6s;
}
.wrapper span:nth-child(2) {
	left: 10%;
	animation-delay: 3s;
	width: 60px;
	height: 60px;
}
.wrapper span:nth-child(3) {
	left: 20%;
	animation-delay: 2s;
}
.wrapper span:nth-child(4) {
	left: 30%;
	animation-delay: 5s;
	width: 80px;
	height: 80px;
}
.wrapper span:nth-child(5) {
	left: 40%;
	animation-delay: 1s;
}
.wrapper span:nth-child(6) {
	left: 50%;
	animation-delay: 7s;
}
.wrapper span:nth-child(7) {
	left: 60%;
	animation-delay: 6s;
	width: 100px;
	height: 100px;
}
.wrapper span:nth-child(8) {
	left: 70%;
	animation-delay: 8s;
}
.wrapper span:nth-child(9) {
	left: 80%;
	animation-delay: 6s;
	width: 90px;
	height: 90px;
}
.wrapper span:nth-child(10) {
	left: 90%;
	animation-delay: 4s;
}
.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.content h2 b {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #fff;
	font-family: montserrat;
	font-size: 80px;
	text-transform: uppercase;
	letter-spacing: 12px;
}
@keyframes animate {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	80% {
		opacity: .7;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}
